{include file=comm/head.html}

{include file=comm/top.html}

<div class="container pages">

    {include file=comm/position.html}
    {include file=comm/sortnav.html}
      
	<!-- 图文列表 -->
    <div class="row">
        {pboot:list num=8 order=sorting}
            <div class="col-12 col-sm-6 col-lg-3 wow zoomIn">
              <div class="card">
                  <div class="card-img"><a href="[list:link]"><img class="card-img-top" src="[list:ico]" alt="[list:title]"></a></div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="[list:link]">[list:title]</a></h5>
                    <p class="card-text">
                    {pboot:if([list:istop]==1)}
                		<span class="badge badge-danger">置顶</span>
                	{/pboot:if}
                	{pboot:if([list:isrecommend]==1)}
                		<span class="badge badge-warning">推荐</span>
                	{/pboot:if}
                	{pboot:if([list:isheadline]==1)}
                		<span class="badge badge-info">头条</span>
                	{/pboot:if}
                	</p>
                	<p>
                	{pboot:tags id=[list:id] scode={sort:tcode}}
                  		<a href="[tags:link]"><span class="badge badge-secondary">[tags:text]</span></a>
					{/pboot:tags}
					</p>
                  </div>
               </div>
         	</div>
        {/pboot:list}
    </div>

 	{include file=comm/page.html}
    
</div>

{include file=comm/foot.html}
